@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-roboto text-white;
  }
}

@layer components {
  .maxContent {
    @apply w-full sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1200px] mx-auto px-4;
  }
}

.textPrimary {
  background: linear-gradient(to right, #fc2547 50%, #ff5a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btnPrimary {
  border: solid 1px #fc2547;
  color: #ffffff !important;
  font-weight: 700;
  padding: 10px 35px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  transition: 0.8s ease;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    #fc2547 0%,
    #ff5a00 50%,
    #fc2547 100%
  );
  background-size: 200% auto;
  border-radius: 999px;
}

.btnPrimary:hover {
  background-position: right center;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  padding: 4px !important;
  background: transparent !important;
  border: 2px solid white !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
}
.swiper-pagination-bullet-active {
  background: white !important;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  width: 12px;
  background: transparent;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(30deg, #fc2547 50%, #ff5a00 100%);
  width: 0;
  height: 25%;
  transition: 0.5s ease;
}

.minicart ::-webkit-scrollbar {
  width: 5px;
}
.minicart ::-webkit-scrollbar-track {
  width: 12px;
  background: white;
  border-left: 0 solid white;
  border-right: 0 solid white;
}
.minicart ::-webkit-scrollbar-thumb {
  background: linear-gradient(30deg, #fc2547 50%, #ff5a00 100%);
  width: 0;
  height: 25%;
  transition: 0.5s ease;
}
